body{
    background: rgb(87, 151, 87);
    align-items: center;
    display: flex;
    flex-direction: column;
}
table{
    background-color: antiquewhite;
    margin-top: 20px;
}
#year{
    padding-left: 100px;

}
#month {
    padding-left: 150px;

}
#date {
    padding-left: 150px;

}
button{
    width: 200px;
    height: 30px;
    background-color: rgb(87, 151, 87);
    color: wheat;
    border-radius: 20px;
    align-items: center;
    border: none;
}
#result{
    color: green;
    margin-left: 200px;
}